map $http_connection $connection_upgrade
{
	"~*Upgrade" $http_connection;
	default keep-alive;
}

upstream next
{
	server portfolio-next:${NEXT_PORT};
}

server
{
	listen ${NGINX_PORT};

	location /
	{
		proxy_pass http://next;
		proxy_http_version 1.1;
		proxy_set_header Upgrade $http_upgrade;
		proxy_set_header Connection 'upgrade';
		proxy_set_header Host $host;
		proxy_cache_bypass $http_upgrade;
	}
}
